
	<div class="container-fluid">

		<div class="row">

		<form  ng-submit="submitVote()" name="myForm" ng-controller="mainController">
			<div class="form-group">
			<h1>{{ballot.title}}</h1>
			</div>
		  		<div ng-repeat="entry in ballot.entries">
		   		<label class="bold-18">
		      		<input value="{{entry.name}}" ng-model="$parent.vote" type="radio" name="vote">{{entry.name}}
		   		</label>
		  		</div>
		  <button type="submit" class="btn btn-default">Submit</button>

		</form>
		</div>
	</div>



